:root {
	/* Couleurs */
	--dark-brown: #5E1D0B;
	--light-beige: #FEF0E9;
	--light-orange-1: #ED805B;
	--light-orange-2: #FFD2BF;

	/* Typographie */
	--font-body: 'Mattone', sans-serif;
	--font-heading: 'Darumadrop One', cursive;

	/* Breakpoint */
	--breakpoint-desktop: 768px;

	/* Espacements */
	--spacing-xs: 0.5rem;
	--spacing-sm: 1rem;
	--spacing-md: 2rem;
	--spacing-lg: 3rem;
	--spacing-xl: 4rem;
}

