.color-invert { 
  color: var(--light-beige);
}

.bg-primary {
	background-color: var(--light-beige);
}

.bg-white {
	background-color: white;
}

.bg-light-orange-1 {
	background-color: var(--light-orange-1);
}

.bg-light-orange-2 {
	background-color: var(--light-orange-2);
}

.bg-dark-brown {
	background-color: var(--dark-brown);
}

.border-primary {
	border: 2px solid var(--dark-brown);
  border-radius: var(--radius-sm);
}
.radius-sm {
	border-radius: var(--radius-sm);
  overflow: hidden;
}


.flow-base > * + * {
	margin-top: var(--spacing-sm);

}
.py-section {
	padding-top: var(--spacing-md);
	padding-bottom: var(--spacing-md);
}
.p-sm {
	padding: var(--spacing-xs);
}

.p-md {
	padding: var(--spacing-sm);
}

.p-lg {
	padding: var(--spacing-md);
}

.gap-sm {
	gap: var(--spacing-xs);
}

.gap-md {
	gap: var(--spacing-sm);
}

.gap-lg {
	gap: var(--spacing-md);
}


.flex-wrap {
	display: flex;
	flex-wrap: wrap;
}