:root {
  --carousel-section-padding-top: 8rem;
}
header {
  padding-top: var(--spacing-lg);
  padding-bottom: var(--carousel-section-padding-top);
}

.carousel-section .carousel {
  margin-top: calc(var(--carousel-section-padding-top) * -1);
}

img {
  width: 100%;
  height: auto;
}

.img-legumes {
	max-width: 12rem;


}


.button {
	background-color: var(--dark-brown);
	color: var(--light-beige);
	padding: 1rem 2rem;
	border-radius: 0.5rem;
	text-decoration: none;
  display: inline-block;
}

.color-invert .button {
	background-color: var(--light-beige);
	color: var(--dark-brown);
}


.embla__slide {
	overflow: hidden;
  border-radius: var(--radius-md);
  img {
    border-radius: var(--radius-sm);
  }

  figcaption {
    padding: var(--spacing-sm) 0 var(--spacing-xs);
  }
}

.profil {
	display: flex;
	flex-direction: column;
  align-items: flex-end;

  figure {
    margin-bottom: var(--spacing-sm);
    max-width: 4rem;
  }
}


.reviews {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: var(--spacing-sm);
}



footer {
  --img-width: 20rem;
  --position-right: -8rem;
  overflow: hidden;
  position: relative;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: var(--spacing-sm);

  @media (min-width: 768px) {
    --img-width: 10rem;
    --position-right: 0;
  }

  .content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
 
    justify-content: space-between;
    width: 100%;
    gap: var(--spacing-sm);

    
    @media (min-width: 768px) {
      width: calc(100% - var(--img-width));
      align-items: center;
      flex-direction: row;
    }
  }
  figure {
    right: var(--position-right);
    position: absolute;
    max-width: var(--img-width);
  }
}


/* stars */

.stars {
	display: flex;
	gap: var(--spacing-xs);
}
.icon-star {
	width: 1.5rem;
	height: 1.5rem;
}

.reviews__rating-value {
	font-size: 2rem;
  margin-bottom: 0.4rem;
}

/* 
 * Carousel
 */

.embla {
  padding-left: var(--gutter-base);
  .embla__container {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc(100% - var(--gutter-base) * 2); /* Each slide covers 80% of the viewport */

    @media (min-width: 768px) {
      grid-auto-columns: calc(33%); /* Each slide covers 80% of the viewport */
    }

    .embla__slide {
      margin-inline-end: var(--gutter-base); 
      
    }
  }
}
.carousel__navigation {

  .carousel__dots {
    display: flex;
    gap: var(--spacing-xs);
    padding-inline: var(--gutter-base);
    justify-content: center;
    .carousel__dot {
      width: 1rem;
      height: 1rem;
      border-radius: 50%;
      background-color: var(--light-beige);
      border: 2px solid var(--dark-brown);
      cursor: pointer;
    }
    .carousel__dot--active {
      background-color: var(--light-orange-1);
    }
  }

}
