@import './variables.css';
@import './fonts.css';
@import './base.css';
@import './components/header.css';
@import './components/hero.css';
@import './components/carousel.css';
@import './components/about.css';
@import './components/reviews.css';
@import './components/reservation.css';
@import './components/footer.css';

